[Unit]
Description=timer for osrt-git-installcheck on gitea running as %i

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
